* {
  margin: 0;
  padding: 0;
  border: none;
}

ul, ol {
  list-style: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* INDEX */
.message-item {
  min-width: 450px;
  background-color: lightblue;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.added {
  font-size: 12px;
}

/* FORM */
.main-form {
  border: 1px solid lightgray;
  border-radius: 5px;
}


